body {
    background: url('../_imagens/wallpapers-de-one-piece-para-pc-e-celular-30.jpg') center center no-repeat fixed;  
}

p {
    text-align: center;
    text-indent: 50px;
    padding: 10px;
}

a {
    color: #9ad5e7;
    text-decoration:none;				
}

a:hover{
    text-decoration: underline;
    
}

div#interface {
margin: -20px auto 0px auto;
box-shadow: 0px 0px 10px rgba(51, 50, 50, 0.5);
padding: 50px;
background: rgba(3, 76, 88, 0.6);
margin: auto;
width: 80%;
margin-top: -25px;

}

header#cabecalho {
border-bottom:1px #505050 solid;
height: 150px;
}

header#cabecalho h1{
font-family: 'FonteLogo', sans-serif;
font-size: 30pt;
color: #7cb6ec;
text-shadow: 1px 1px 1px rgba(0,0,0,.6);
padding: 0px;
margin-bottom: 0px;
}

header#cabecalho h2{

font-size: 15pt;
color: #7cb6ec;
padding: 0px;
margin-top: 0px;
}

h1{
    color: #ffffff;
}

p{
    color: #ffffff;
}


div {
    color: #ffffff;
}


nav#menu {
    position: relative;
    left: 30%;
    margin-top: -140px;
    
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;

}

nav#menu li{
    display: inline-block;
    background-color: #a5d7eb;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #55a5e7;
    
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

img {
    width: 35%;
}


/* configurando o rodape*/

footer#rodape {
    clear:both;
    border-top:1px solid #606060;
}

footer#rodape p {
    text-align: center;
    
}