body {
    background: url('../_imagens/90ef15a6dcb970fc6f58d6ef0cdbcaf2.png') center center no-repeat fixed;  
}

div#interface {
    background: rgba(0, 0, 0, .6);
    margin: auto;
    width: 1500px;
    margin-top: -25px;
}

h1{
    color: #ffffff;
}

p{
    color: #ffffff;
}

/*section {
    background: rgba(0, 0, 0, .6);
    margin: auto;
    width: 1500px;
    
    
}*/


div {
    color: #ffffff;
}