body {
    background: url('../_imagens/90ef15a6dcb970fc6f58d6ef0cdbcaf2.png');
    
}

h1{
    color: #ffffff;
}

section {
    background: rgba(0, 0, 0, .6);
    margin: auto;
    width: 1000px;
    
    
}


div {
    color: #ffffff;
}